/* :root{
--border-color:#EEE;    
--color-icon:#AFB1B8;
--background-color-before:#F5F4FA;
--basic-text-color:#212121;
--accent-color:#2196F3;
--secondary-text-color:#FFF;
--paragraph-text-color:#757575;
--background-color:#2F303A;
--timing-function:cubic-bezier(0.4, 0, 0.2, 1);
} */


/* p, h1, h2, h3, h4 ,h5, h6{
    padding: 0;
    margin: 0;
}


address{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
}

.link{
    text-decoration: none;
    display: inline-block;
} */

/* .container{
width: 1230px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.section{
padding-bottom: 94px;
padding-top: 94px;


} */

/* body{font-family: 'Roboto', sans-serif;
color: var(--basic-text-color);
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: react(0000);
    } */


    
   /* .site-nav-link.active{
       color: var(--accent-color); 
    } */


/* ------------------HEADER----------------------- */

/* .header{
border-bottom: 1px solid #ECECEC;

}
.header__container{
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
    margin-left: auto;
    text-decoration: none;


    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: 0.78px;
    color: var(--basic-text-color);

}
.span-logo{color:var(--accent-color)}



.site-nav{
    padding: 0;
display: inline-flex;
margin-right: 344px;
list-style: none;


}

.site-nav__item:last-child{
    margin-right: 0;
}

.site-nav__item{
    margin-right: 50px;
    position: relative;
}



.site-nav__link{
   
display: flex;
padding-top: 32px;
padding-bottom: 32px;
  text-decoration: none;

    color: var(--basic-text-color);


    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.active::after {
content: "";
bottom: 0;
position: absolute;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color);

transition: 250ms var(--timing-function);
}


.site-nav__link:hover,
.site-nav__link:focus{
color: var(--accent-color);
transition: 250ms var(--timing-function);
}

.contacts{
display: flex;
margin-left: auto;
list-style: none;  
}


.contacts__item{
    align-items: center;
}

.contacts .contacts__item + .contacts__item{
    margin-left: 50px;
}


.contacts__link{

 display: flex;
min-width: 142px;
text-decoration: none;

    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;}

    .contacts__link:hover,
    .contacts__link:focus {
    color: var(--accent-color);
    transition: 250ms var(--timing-function);
    }
    
    .contacts__link:hover .contacts__icon,
    .contacts__link:focus .contacts__icon{
    fill: var(--accent-color);
    transition: 250ms var(--timing-function);
    }


.contacts__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--paragraph-text-color);
    margin-right: 10px;
    
} */


/* ------------------SECTION_HERO----------------------- */
/* .hero{
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    background: var(--bacground-color);
}

.hero__title{
    width: 696px; 
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;

    color: var(--secondary-text-color);

font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 2.64px;
text-transform: uppercase;
}

.hero__btn{
border: 0;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 32px;
padding-left: 32px;
min-width: 216px;

    color: var(--secondary-text-color);

text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-color);
cursor: pointer;
}

.overlay{
height: 600px;
max-width: 1600px;
margin-left: auto;
margin-right: auto;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-image:linear-gradient( rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40) ),
 url("../images/hero-img-jpg.jpg") ;

} */
/* ------------------section-advantages----------------------- */
/* .advantages__list{
    display: flex;
    list-style: none;

}
.advantages__list .advantages__item + .advantages__item{margin-left: 30px;}

.advantages__logo{
margin-bottom: 30px;
width: 270px;
height: 120px;
display: block;
background-size: 270px 120px;
background-color: var(--background-color-before);
}

.advantages__icon{
    margin: 25px 100px;
justify-content: center;
align-items: center;
}



.advantages__title{

    color: var(--basic-text-color);

font-size: 14px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.advantages__text{
margin-top: 10px;
    color: var(--paragraph-text-color);

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.42px;
} */
/* ------------------section-occupation----------------------- */
/* .occupation__title{

    margin-bottom: 50px;
    padding-left: auto;
    padding-right: auto;

    color: var(--basic-text-color);

text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 0.88;
letter-spacing: 1.08px;
}

.occupation__list{
   


    display: flex;
    list-style: none;

}
.occupation__item{
    margin-right: 30px;
}
.occupation__item:last-child{margin-right: 0;}

.occupation__wrapper{
position: relative;
}

.occupation__text{
position: absolute;
bottom: 0;
left: 50%;
width: 100%;
height: 70px;

padding-top: 27px;
padding-bottom: 27px;
transform: translate(-50%);

background-color: rgba(47, 48, 58, 0.80);
color: var(--secondary-text-color);
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.42px;
text-transform: uppercase;


} */



/* ------------------section-team----------------------- */
/* .team{
background-color: var(--background-color-before);
}
.team__title{
    margin-bottom: 50px;

    color: var(--basic-text-color);

text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 0.88;
letter-spacing: 1.08px;
}

.team__item{
margin-right: 30px;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
padding-bottom: 30px;

}

.team__list{
    display: flex;
    list-style: none;
}

.team__item:last-child{
    margin-right: 0;

}



.team__img{
margin-bottom: 30px;
}

.team__name{
    color: var(--basic-text-color);

text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 2;
letter-spacing: 0.48px;
}
.team__text{
margin-bottom: 16px;

    color: var(--paragraph-text-color);

text-align: center;
font-size: 16px;
line-height: 2;
letter-spacing: 0.48px;
}


.team-socials{
    list-style: none;
    display: flex;
    justify-content: center;
}
.team-socials__link{
width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-icon);
}

.team-socials__link:hover,
.team-socials__link:focus {
background-color: var(--accent-color);
fill: var(--background-color-before);
transition: 250ms var(--timing-function);
}

.team-socials__icon{
fill: currentColor;

}

.team-socials__link:hover .team-socials__icon,
.team-socials__link:focus .team-socials__icon{
    fill: var(--secondary-text-color);
    transition: 250ms var(--timing-function);
}


.team-socials__item+.team-socials__item{
    margin-left: 10px;

} */
/* ------------------section-clients----------------------- */
/* .clients__title{
margin-bottom: 50px;

color: var(--basic-text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 0.88;
letter-spacing: 1.08px;
}

.clients__list{
    list-style: none;
    display: flex;
    justify-content: center;

}



.clients__item+.clients__item{
margin-left: 30px;
}



.clients__link{
box-sizing: border-box;
width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid var(--color-icon);
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
fill: var(--color-icon);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
    transition: 250ms var(--timing-function);
}

.clients__link:hover,
.clients__link:focus{
fill: var(--accent-color);
transition: 250ms var(--timing-function);
} */



/* ------------------footer----------------------- */
/* .footer__wrapper{
    display: flex;
    align-items: baseline;
}
.adress-footer{

    margin-bottom: 9px;


    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}
.footer{
    background: var(--background-color);
}
.footer-logo{
    display: inline-block;
 margin-bottom: 20px;
    text-decoration: none;


    color: var(--secondary-text-color);

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: 0.78px;
}

.footer-logo__span{
    color: var(--accent-color);
}

.contacts-footer{
    min-width: 231px;
    display: block;
    list-style: none;
}
.contacts-footer__item:last-child{margin-bottom: 0;}

.contacts-footer__link{
    margin-bottom: 9px;
    text-decoration: none;
    display: inline-block;

color: var(--paragraph-text-color);

font-size: 14px;
font-weight: 500;
line-height: 2.28;
letter-spacing: 0.28px;}

.contacts-footer__link:hover,
.contacts-footer__link:focus{color: var(--accent-color);
    transition: 250ms var(--timing-function);
}

.footer-socials__text{

    color: var(--secondary-text-color);
font-size: 14px;
font-weight: 700;
line-height: 2.28;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.contacts-footer__wrapper{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-socials{
    display: block;
    gap: 10px;
    margin-top: 20px;
    margin-left: 70px;
}

.footer-socials__list{
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.footer-socials__item+.footer-socials__item{
    margin-left: 10px;

}
.footer-socials__link{
    width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.10);;

}


.footer-socials__icon{
display: block;
fill: var(--secondary-text-color);

}

.footer-socials__link:hover,
.footer-socials__link:focus{
    background-color: var(--accent-color);
    transition: 250ms var(--timing-function);
    }



.footer-form{
    display: flex;
    align-items: center;
}
 .footer-form__wrapper{
margin-left: 93px; 


 }   

.footer-form__title{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.42px;
text-transform: uppercase;

}

.footer-form__input{
    padding-left: 16px;
    border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 358px;
height: 50px;


}

.footer-form__btn{
    display: flex;
      align-items: center;
  justify-content: center;
    padding: 10px 28px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
margin-left: 12px;

border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

color: var(--secondary-text-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
cursor: pointer;
border: none;

}
.footer-form__icon{
    margin-left: 10px;
 
} */





/* ------------------portfolio-section----------------------- */
/* .portfolio-list{

    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    list-style: none;
}

.portfolio-list .portfolio-list__item + .portfolio-list__item{margin-left: 30px;}


.portfolio-list__btn{
    color: var(--background-color-before);
    border: 0;
    border-radius: 4px ;
    padding: 6px 25px;

    color: var(--basic-text-color);

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    cursor: pointer;
}
.portfolio-list__btn:hover,
.portfolio-list__btn:focus{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    background: var(--accent-color);
    color: var(--secondary-text-color);
    transition: 250ms var(--timing-function);

text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    list-style: none;
    text-decoration: none;
}


.projects__item > .projects__item {
    flex-basis: calc(100% / 3 - 30px);
}


 
    
.projects__link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    
}

.projects__link:hover,
.projects__link:focus{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: 250ms var(--timing-function);    
}


.projects__wrapper{
position: relative;
overflow: hidden;



}

.projects__overlay{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
transform: translateY(100%);
transition: transform 250ms var(--timing-function);


padding: 63px 24px;

background-color:rgba(33, 150, 243, 0.90);

color: var(--secondary-text-color);
font-size: 18px;
font-weight: 400;
line-height: 1.55;
letter-spacing: 0.54px;

}
.projects__item:hover .projects__overlay {
    transform: translateY(0);
}


.projects__content{

    padding: 20px 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    
}

.projects__title{

    color: var(--basic-text-color);

font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;

}
.projects__text{
    color: var(--paragraph-text-color);
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.48px;

} */
/* ------------------------MODAL------------------------------------- */
/* .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    transition: 250ms var(--timing-function);

    width: 100%;
    height: 100%;
background-color: rgba(0, 0, 0, 0.20);



}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(0%);
    transition:  250ms var(--timing-function);
    
}

.modal{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: scale(100%);
 padding: 40px;

    width: 528px;
    height: 582px;
    transform: translate(-50%, -50%);

    background-color: var(--secondary-text-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    


}
.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

width: 30px;
height: 30px;
border-radius: 50%;
cursor: pointer;
background-color: var(--secondary-text-color);

border: solid 1px rgba(0, 0, 0, 0.10);
}

.modal__close-btn:hover,
.modal__close-btn:focus{
fill: var(--accent-color);
transition:  250ms var(--timing-function);
}

.modal__title{
    color: var(--basic-text-color);
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.6px;
margin-bottom: 12px;
}

.modal-form__input{
padding-left: 42px;
width: 100%;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
margin-bottom: 10px;



}

.modal-form__label{
    color: var(--paragraph-text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.12px;
}


.modal-text::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.12px;
}
.modal-form__wrapper{
    position: relative;
}

.modal-form__icon{
position: absolute;
top: 11px;
left: 12px;
}
.modal-form__input:focus{
    border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon{
    fill: var(--accent-color);
    transition: 250ms var(--timing-function);
}

.modal-form__text{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    margin-bottom: 20px;
    
    }

.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
   

}

.checkbox__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: react(0000);


}




.checkbox__icon{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
   border-color: var(--basic-text-color);
   border: 2px solid var(--basic-text-color);
    
    
   
}
.checkbox__input:checked + .checkbox__icon{
    background-color:var(--accent-color);
    background-image: url(../images/modal-icon-checkbox.svg);
background-size: contain;
background-origin: border-box;
border-color: var(--accent-color);

    
}

.checkbox__label{ 
    display: flex;
    justify-content: center;
    align-items: center;
    


    color: var(--paragraph-text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;


}

.checkbox__link{
    color: var(--accent-color);
    margin-left: 7px;
}

.modal__btn{

    display: flex;
    align-items: center;
margin: 0 auto;
    border: 0;
padding: 10px 52px;
min-width: 200px;


    color: var(--secondary-text-color);

text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-color);
cursor: pointer;
} */




/* ------------------------------------------------------------------------------------------------- */