.social-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
  }
  
  .social-links__item {
    padding: 0 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  
    color: var(--accent-color);

    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }