.modal{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: scale(100%);
 padding: 40px;

    width: 528px;
    height: 582px;
    transform: translate(-50%, -50%);

    background-color: var(--secondary-text-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    justify-content: center;

    @include align-list;
 
width: 30px;
height: 30px;
border-radius: 50%;
cursor: pointer;
background-color: var(--secondary-text-color);
border: solid 1px rgba(0, 0, 0, 0.10);

&:hover,
&:focus{
fill: var(--accent-color);
transition:  250ms var(--timing-function);
}
}

.modal__title{
    color: var(--basic-text-color);
text-align: center;

@include font(20px, 700, 1.2, 0.6px);

margin-bottom: 12px;
}

.modal__btn{
 @include align-list;

margin: 0 auto;
    border: 0;
padding: 10px 52px;
min-width: 200px;

    color: var(--secondary-text-color);

text-align: center;

@include font(16px, 700, 1.87, 0.96px);

border-radius: 4px;
background: var(--accent-color);
cursor: pointer;
}