.hero__btn{
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    min-width: 216px;
    
        color: var(--secondary-text-color);
    
    text-align: center;

    @include font(16px, 7000, 1.87, 0.96px);

    border-radius: 4px;
    background: var(--accent-color);
    cursor: pointer;
    }