.advantages__list{
    display: flex;
    list-style: none;
.advantages__item + .advantages__item{margin-left: 30px;}
}

.advantages__logo{
margin-bottom: 30px;
width: 270px;
height: 120px;
display: block;
background-size: 270px 120px;
background-color: var(--background-color-before);
}

.advantages__icon{
    margin: 25px 100px;
justify-content: center;
align-items: center;
}

.advantages__title{

    color: var(--basic-text-color);
    @include font(14px, 700, 1.2, 0.42px);

text-transform: uppercase;
}
.advantages__text{
margin-top: 10px;
    color: var(--paragraph-text-color);

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.42px;
}