.clients__title{
    margin-bottom: 50px;
    
    color: var(--basic-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.88;
    letter-spacing: 1.08px;
    }
    
    .clients__list{
        list-style: none;
        display: flex;
        justify-content: center;
    
    }
    
    .clients__item+.clients__item{
    margin-left: 30px;
    }
    
    .clients__link{
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid var(--color-icon);
    flex-shrink: 0;
    justify-content: center;
    fill: var(--color-icon);

    @include align-list;
   

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        transition: 250ms var(--timing-function);
    }

    &:hover,
    &:focus{
    fill: var(--accent-color);
    transition: 250ms var(--timing-function);
    }
    }