.clients__title{
    margin-bottom: 50px;
    
    color: var(--basic-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.88;
    letter-spacing: 1.08px;
    }
    
    .clients__list{
        list-style: none;
        display: flex;
        margin: 0;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .clients__link{

        display: flex;
        align-items: center;
        justify-content: center;
        height: 92px;
        
        @media screen and (max-width: 768px) {
            width: 210px;
          }
        
          @media screen and (min-width: 768px) {
            width: 226px;
          }
        
          @media screen and (min-width: 1200px) {
            width: 170px;
          }




    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--color-icon);
    flex-shrink: 0;
    fill: var(--color-icon);
   
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        transition: 250ms var(--timing-function);
    }

    &:hover,
    &:focus{
    fill: var(--accent-color);
    transition: 250ms var(--timing-function);
    }
    }