.portfolio-list{

    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    list-style: none;
.portfolio-list__item + .portfolio-list__item{margin-left: 30px;}
}

.portfolio-list__btn{
    color: var(--background-color-before);
    border: 0;
    border-radius: 4px ;
    padding: 6px 25px;

    color: var(--basic-text-color);

    text-align: center;

    @include font(16px, 500, 1.62, 0.48px);
 
    cursor: pointer;

&:hover,
&:focus{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    background: var(--accent-color);
    color: var(--secondary-text-color);
    transition: 250ms var(--timing-function);

text-align: center;

@include font(16px, 500, 1.62, 0.48px);

}
}