.contacts-footer__wrapper {
    @media screen and (max-width: 1200px) {
      margin-bottom: 60px;
    }
  }
  .contacts-footer {
list-style: none;
  }
  .adress-footer{
    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}
  
  .contacts-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .contacts-footer__link {
    color: var(--paragraph-text-color);
    @include font(14px, 500, 2.28, 0.28px);
    text-decoration: none;
        margin-bottom: 9px;
    text-decoration: none;
    display: inline-block;

color: var(--paragraph-text-color);
@include font(14px, 500, 2.28, 0.28px);
  
  
    color: var(--paragraph-text-color);
  
    &:hover,
    &:focus{color: var(--accent-color);
        transition: 250ms var(--timing-function);
    }
     }
    
