.footer-form{
    @include align-list;
}
 .footer-form__wrapper{
margin-left: 93px; 


 }   

.footer-form__title{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
    @include font(14px, 700, 1.1, 0.42px);

text-transform: uppercase;

}

.footer-form__input{
    padding-left: 16px;
    border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 358px;
height: 50px;


}

.footer-form__btn{
    @include align-list;
    
  justify-content: center;
    padding: 10px 28px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
margin-left: 12px;

border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

color: var(--secondary-text-color);
text-align: center;
@include font(16px, 700, 1.87, 0.96px);

cursor: pointer;
border: none;

}
.footer-form__icon{
    margin-left: 10px;
 
}