.footer-form__wrapper {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 450px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

.footer-form__title {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;

  color: var(--secondary-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.footer-form__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin: 0 auto;
  gap: 10px;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

}
