.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--background-color);
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    gap: 94px;
  }
}

