.footer-socials__text{

    color: var(--secondary-text-color);
    @include font(14px, 700, 2.28, 0.42px);
text-transform: uppercase;
}

.footer-socials{
    display: block;
    gap: 10px;
    margin-top: 20px;
    margin-left: 70px;
}

.footer-socials__list{
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.footer-socials__item+.footer-socials__item{
    margin-left: 10px;

}
.footer-socials__link{
    width: 44px;
height: 44px;
border-radius: 50%;

@include align-list;

justify-content: center;
background-color: rgba(255, 255, 255, 0.10);;

&:hover,
&:focus{
    background-color: var(--accent-color);
    transition: 250ms var(--timing-function);
    }
}

.footer-socials__icon{
display: block;
fill: var(--secondary-text-color);
}
