.footer-socials {
    @media screen and (max-width: 1200px) {
      margin-bottom: 60px;
    }
  }
  
  .footer-socials__text {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .footer-socials__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .footer-socials__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--secondary-text-color);
  
    &:hover,
    &:focus{
        background-color: var(--accent-color);
        transition: 250ms var(--timing-function);
        }
  }

  .footer-socials__item+.footer-socials__item{
    margin-left: 10px;}

  .footer-socials__link{
    width: 44px;
height: 44px;
border-radius: 50%;

@include align-list;

justify-content: center;
background-color: rgba(255, 255, 255, 0.10);;

&:hover,
&:focus{
    background-color: var(--accent-color);
    transition: 250ms var(--timing-function);
    }
}

.footer-socials__icon{
display: block;
fill: var(--secondary-text-color);
}

