.footer__wrapper{
 

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    
      @media screen and (min-width: 1200px) {
        gap: 94px;
      }
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }


    @media screen and (min-width: 1200px) {
        @include align-list;
        display: flex;
        align-items: baseline;
      }
}

.footer{
    background: var(--background-color);

    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (max-width: 1200px) {
      text-align: center;
    }
}
