@media screen and (min-width: 1200px) {
    .contacts {
      display: inline-flex;
      align-items: center;
      gap: 40px;
    }
  }

.contacts{

    list-style: none;  
    }
    

    
    .contacts__link{
        display: inline-flex;
        align-items: center;
        padding: 5px 0;    
    
    text-decoration: none;
    
        color: var(--paragraph-text-color);

        @include font(12px, 500, 1.17, 0.28px);
    
        &:hover,
        &:focus {
        color: var(--accent-color);
        transition: 250ms var(--timing-function);
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.14;
            padding: 32px 0;
          }
    }
   
    .contacts__icon{
        margin-right: 10px;
        padding: 0;

        fill: var(--paragraph-text-color);

        .contacts__link:hover &,
        .contacts__link:focus &{
        fill: var(--accent-color);
        transition: 250ms var(--timing-function);
        }

        @media screen and (min-width: 1200px) {
            height: 16px;
          }
    }

    .header__icon--bigger {
        @media screen and (min-width: 1200px) {
          width: 16px;
          height: 12px;
        }
      }