.header__nav {
    display: flex;
    align-items: center;
    gap: 93px;
  }

.site-nav{
    display: flex;
    gap: 50px;
    text-decoration: none;

list-style: none;
}


.site-nav__link{
    position: relative;
    display: block;
    padding: 32px 0;

  text-decoration: none;

    color: var(--basic-text-color);
    
    @include font(14px, 500, 1.14, 0.02em);


&:hover,
&:focus{
color: var(--accent-color);
transition: 250ms var(--timing-function);
}

}

.site-nav-link{
    .active{
        color: var(--accent-color); 
     }
}

.active::after {
content: "";
bottom: 0;
position: absolute;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--accent-color);

transition: 250ms var(--timing-function);
}